<h4>Worker Details</h4>
<table>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>ID</td>
        <td>{{worker.id}}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{worker.name}}</td>
    </tr>
      <tr>
        <td>Age</td>
        <td>{{worker.age}}</td>
    </tr>
      <tr>
        <td>Wage</td>
        <td>{{worker.wage}}</td>
    </tr>
      <tr>
        <td>Active</td>
        <td>{{worker.active}}</td>
    </tr>
</table>