<p class="display-3">{{title}}</p>
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Fname</th>
            <th>Lname</th>
            <th>Country</th>
            <th>City</th>
            <th>Plz</th>
            <th>Email</th>
            <th>Company</th>
            <th>Age</th>
            <th>Wage</th>
            <th>Active</th>
            <th>Activities</th>
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each filteredWorkers as |worker|}}
        {{simple-worker-component/one worker=worker
        detailsAction = detailsAction 
        updateAction = updateAction 
        deleteAction = deleteAction
        }}
        {{/each}}
    </tbody>
</table>
<div class="form-group">
  <label for="selectFilter">Enter value for filter:</label>
  <select class="form-control" id="selectFilter" onchange={{action "updateValue" value="target.value"}}>
      {{#each labels as |label|}}
      <option value="{{label}}">{{label}}</option>
      {{/each}}
  </select>
   <input class="form-control" value={{filterValue}} oninput={{action (mut filterValue) value="target.value"}}>
</div>
