<h4>HibernateStudent Details {{index}}</h4>
<table class="hibernate-student">
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>ID</td>
        <td>{{#link-to student}}{{student.id}}{{/link-to}}</td>
    </tr>
    <tr>
        <td>Fname</td>
        <td>{{student.fname}}</td>
    </tr>
    <tr>
        <td>Lname</td>
        <td>{{student.lname}}</td>
    </tr>
    <tr>
        <td>Age</td>
        <td>{{student.age}}</td>
    </tr>
    <tr>
        <td>Wage</td>
        <td>{{student.wage}}</td>
    </tr>
    <tr>
        <td>Active</td>
        <td>{{student.active}}</td>
    </tr>
</table>