{{!-- {{chartist-chart ratio="ct-perfect-fifth" type="line" options=chartOptions data=model.chartData updateOnData=true}}
<br><br><br> --}}
{{!-- <div id="chart1"></div> --}}
{{!-- {{custom-chart-component type=type labels=labels series=series options=options}} --}}
{{custom-chart-component type=type data=data options=options}}
<br><br><br>
{{custom-chart-component type=type2 data=data2 options=options2}}
<br><br><br>
{{custom-chart-component type=type3 data=data3 options=options3}}
<br><br><br>
{{custom-chart-component type=type4 data=data4 options=options4 responsiveOptions=responsiveOptions4}}
<br><br><br>
{{custom-chart-component type=type5 data=data5 options=options5}}
<br><br><br>
{{custom-chart-component type=type6 data=data6 options=options6}}
<br><br><br>
{{custom-chart-component type=type7 data=data7 options=options7}}